.maintenance-mode-label {
  font-size: 14px;
  background-color: #FF0000;
  color: white;
  margin-top: 10px;
  display: inline-block;
  font-weight: 500;
  padding: 1px 4px 0 4px;
  line-height: 1.5384616;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  border-radius: 2px;

  > a {
    color: white;
  }
}
