#menu-page {
  .dd-item.is-dragged {
    display: block !important;
  }

  .dd-item > .dd-content {
    margin: 0;
    border-radius: 0;
  }

  .dd-item > ol {
    list-style: none;
  }

  .draggable--dropzone {
    margin: 1px 0;
    min-height: 6px;
    border: 1px dashed transparent;
  }

  .dd-item:not(.is-dragged) > ol.empty {
    margin: 0 0 0 36px;
    padding: 0;
  }

  .dd-item > ol.empty > .draggable--dropzone {
    margin: 0;
    border-top: none;
  }

  .draggable--dropzone.draggable--visible {
    border-color: #ddd;

    &:hover {
      cursor: copy;
      background: repeating-linear-gradient(
          45deg,
          #26a69a,
          #26a69a 10px,
          transparent 10px,
          transparent 20px
      );
      border: 1px solid #26a69a;
    }
  }
}

.menu-item-helper {
  width: 350px !important;
  padding: 10px 15px;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  margin-top: -25px;
  font-weight: bold;
}
